<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
        
            <br/><br/><h3>Edit Existing Listing</h3><br/>
            <form method="POST" action="/listings/<%=listing._id%>?_method=PUT" enctype="multipart/form-data">

                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" type="text" value="<%=listing.title%>" class="form-control"/>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" class="form-control"><%=listing.description%></textarea>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Upload New Image</label>
                    <input name="listing[image]"  type="file" class="form-control"/>
                </div>

                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input name="listing[price]" value="<%=listing.price%>" type="number" class="form-control"/>
                </div>

                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input name="listing[country]" value="<%=listing.country%>" type="text" class="form-control"/>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" value="<%=listing.location%>" type="text" class="form-control"/>
                </div>

                <br/><br/><button class="btn btn-dark">Edit</button><br/><br/>
            </form>
        </div>
    </div>
</body>
</html>